html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
font-family: "Microsoft Yahei",Tahoma,Arial,sans-serif;
position:relative;
}

#particle-canvas {
  width: 100%;
  height: 100%;
}

#tishi{
	width:400px;
	height:400px;
	position:fixed;
	z-index:9999;
	    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	border:#fff solid 5px;
	transform:rotate(45deg);
	
	/*-webkit-animation: Circle 10s linear infinite 0s forwards;
	animation: Circle 10s linear infinite 0s forwards;*/
	}
	
	 @-webkit-keyframes Circle {
 from {
 -webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
@keyframes Circle {
 from {
 transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}
/*旋转动画结束*/


#tishileft{
	width:calc(50% - 283px);
	height:5px;
	background-color:#FFF;
	position:absolute;
	left:0px;
	top:50%;
	z-index:999;
	transform:rotate(0deg);
	transform:translateY(-50%);
	animation:zou ease-out 1.5s  0s forwards;
	
	
	
	}
	.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(155, 0, 0, 0);
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    will-change: background-color;
}
	.overlayactive {
  background-color: rgba(155, 0, 0, 0.5);
}
	
	@keyframes zou {
 from {
	 width:0px;
	 
	 
}
to {
	
	width:calc(50% - 283px);
}
}
	
	
	#tishiright{
	width:calc(50% - 283px);
	height:5px;
	background-color:#FFF;
	position:absolute;
	right:0px;
	top:50%;
	z-index:999;
	transform:rotate(0deg);
	transform:translateY(-50%);
	animation:zou ease-out 1.5s  0s forwards;
	
	
	}
	
	
		@keyframes you {
 from {
	 width:0px;
	 
	 
}
to {
	
	width:calc(50% - 283px);
}
}
	
	#tishiwenzi{
		
		width:400px;
	height:400px;
	position:fixed;
	z-index:9999;
	    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

		}
		#tishiwenzi1{
			width:100%;
			
			text-align:center;}
			
			#tishiwenzi2{
			width:100%;
			text-align:center;
			font-size:80px;
			color:#fff;
			font-family:"Times New Roman", Times, serif;
			}
			
				#tishiwenzi3{
			width:100%;color:#fff;
			font-size:25px;
			margin-top:30px;
			
				
				}
				
					#tishiwenzi4{
			width:100%;
			text-align:center;
			margin-top:30px;
			
			}
			
			button {font-family: "Microsoft Yahei",Tahoma,Arial,sans-serif;    
    background: none;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    font-size: inherit;
    font-weight: 700;
    margin: 1em;
    padding: 1em 2em;
    text-align: center;
    text-transform: capitalize;
    position: relative;
	display:inline-block;
	
    vertical-align: middle;cursor: pointer;
	outline:none;
}
			
			.draw {
  -webkit-transition: color 0.25s;
          transition: color 0.25s;
}

button::before, button::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
  
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
          transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
          transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}